#header{
	background-color:black;
	color:white;
	text-align: center;
	padding: 5px;
	border: 2px solid;
    border-radius: 25px;
}
#profile{
	width: 250px;
	height: 250px;
	float: left;

}
li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	background-color: gray;
}